.body_image{
    background-image: url(new.jpeg);
    width: full;
    height: 54rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.body_p{
    position: absolute;
    top: 33rem;
    width: 30rem;
    height: 24rem;
    opacity: 0.55;
    background-color: black;
    color: white;
    left: 2rem;
}
.body_h1{
    font-size: 3.7rem;
    line-height: 55px;
    font-weight: bold;
    font-family: Poppins;
    color: #00A3BA;
    margin-top: 30px;
    margin-left: 14px;
}
.body_p2{
    font-size: 1.6rem;
    width: 29rem;
    margin-left: 18px;
}
.body_button{
   background-color: #00A3BA;
   padding-top: 12px;
   padding-left: 12px;
   padding-bottom: 12px;
   padding-right: 12px;
   border-radius: 7px;
   margin-top: 15px;
   margin-left: 28px; 
   cursor: pointer;
}
.body_button:hover{
    background-color: #00A3BA; 
    color: #000000;
    transition-duration: 500ms;
}
.about_section{
    z-index: 10;
    margin-top: 4rem;
    padding: 6rem;
    width: 75rem;
}

.about_divone{
    display: flex;
}

.about_divtwo{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 5rem;
}

.about_sectionH1{
    color:#00A3BA;
}

.about_section_div_three{
    margin-left: 5rem;
}

.about_section_p1{
    font-size: medium;
    font: 1rem;
    width: 42rem;
    color: #B2BEB5;
}
/* className="lg:font-medium lg:text-[1.1rem] lg:w-[42rem] lg:p-[20px] lg:text-[#B2BEB5] md:font-medium md:text-[1.1rem] md:w-[42rem] md:p-[20px] md:text-[#B2BEB5] sm:font-medium sm:text-[1rem] sm:w-[34rem] sm:mt-[10px] sm:text-[#B2BEB5] xl:font-medium xl:text-[1.1rem] xl:w-[42rem] xl:p-[20px] xl:text-[#B2BEB5] 2xl:font-medium 2xl:text-[1.5rem] 2xl:w-[42rem] 2xl:p-[20px] 2xl:text-[#B2BEB5] */
.about_section_p2{
    font-size: medium;
    font: 1rem;
    width: 42rem;
    color: #B2BEB5;
    margin-top: 40px;
}
















@media screen and (max-width: 1024px) {

}


@media screen and (max-width: 600px) {
    .body_image{
        background-image: url(new.jpeg);
        width: full;
        height: 54rem;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .body_p{
        position: absolute;
        top: 15rem;
        width: 15.2rem;
        height: 13rem;
        opacity: 0.55;
        background-color: black;
        color: white;
        left: 0.25rem;
        border-radius: 10px;

    }

    .body_h1{
        font-size: 1.6rem;
        line-height: 25px;
        font-weight: bold;
        font-family: Poppins;
        color: #00A3BA;
        margin-top: 12px;
        margin-left: 14px;
    }

    .body_p2{
        font-size: 0.77rem;
        width: 14rem;
        margin-left: 12px;
        margin-top: 8px;
    }

    .body_button{
        background-color: #00A3BA;
        padding-top: 5px;
        padding-left: 5px;
        padding-bottom: 5px;
        padding-right: 5px;
        border-radius: 7px;
        margin-top: 9px;
        margin-left: 17px; 
        cursor: pointer;
        font-size: 10px;
     }

     .about_section{
        z-index: 10;
        margin-top: 7rem;
        padding: 1rem;
        width: 25rem;
    }

    .about_divone{
        display: grid;
    }

    .about_divtwo{
        font-size: 1.3rem;
        font-weight: bold;
        margin-left: 2rem;
    }
    
    .about_section_div_three{
        margin-left: 1rem;
    }

    .about_section_p1{
        font-size: medium;
        font: 1rem;
        width: 30rem;
        margin-top: 12px;
        color: #B2BEB5;
    }

    .about_section_p2{
        font-size: medium;
        font: 1rem;
        width: 31rem;
        color: #B2BEB5;
    }
}